<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/x-icon" href="../images/logos/favicon.ico" />
</head>

<body>
  <div class="login">
    <div class="logo"><img src="../images/logos/csic_completo.png" alt="Logotype"></div>
    <form method="post" action="/mail">
      <div class="form-field">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" value="dr@upm.es" />
      </div>
      <div class="form-field">
        <label for="email">Contraseña</label>
        <input type="password" name="password" id="password" value="1234" />
      </div>
      <button class="button1" type="submit">Acceder</button>
    </form>
  </div>

</body>

</html>